<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>12 Factor App demo</title>
</head>
<body>
	<p>App running at port {{ port }}</p>
	
	<div>
		<p>Data in Session: {{ sessionValue }}</p>
		<form action="/setsessionvalue" method="post">
		<label>Set data on session: </label><input type="text" name="sessionValue">
		<input type="submit" value="Submit">
		</form>	
	</div>

	<div>
		<p>Data in Redis: {{ redisValue }}</p>
		<form action="/setredisvalue" method="post">
		<label>Set data on redis: </label><input type="text" name="redisValue">
		<input type="submit" value="Submit">
		</form>	
	</div>
	
	<div>
	Send messages to process:
	<form action="/processmessages" method="post">
		<textarea rows="5" cols="80" name="messages"></textarea>
		<input type="submit" value="Submit">
	</form>
	</div>
</body>
</html>